torch==2.3.0
torchvision==0.18.0
timm==0.9.16
anomalib==1.1.0
opencv-python==4.9.0.80
matplotlib==3.8.4
scikit-learn==1.4.2
numpy==1.26.4
Pillow==10.3.0
tqdm==4.66.4
pandas==2.2.2
streamlit==1.35.0
gradio==4.36.1
pytest==8.2.2